<!DOCTYPE html>
<html>
<body background="backg.jpg">
  <head>
    <title>Hotel California | About us</title>
        <link rel="stylesheet" type="text/css" href="mystyle.css">  

  </head>
  <body>

    <div id = "wrapper">

    <div id = "navi">

       <font face="modern"><h1> <b>Welcome to the Hotel California</b></h1>   
      
     
       
      <a href = "index" STYLE="text-decoration: none">Home</a> |
      <a href = "forms" STYLE="text-decoration: none">Check in</a> |
      <a href = "rooms" STYLE="text-decoration: none">Rooms Available</a> |
      <b><a href = "about" STYLE="text-decoration: none">About us</a></b> 

      
      
      <br>
        <br> 

      
      <p>
      <center>
        Are you on a dark desert highway? If your head grows heavy and your sight grows dim, you have to stop for the night!

        <br>
        <br>
        Look no further, rest your weary soul here at Hotel California!
        <br>
        <br>

        Enjoy mirrors on the ceiling and pink champagne on ice! Watch our band Eagles perform nightly! Don't be a prisoner of your own device!



      </center>
      </p>
      </font>

    </div>
    
     

    

     
    </div>  
    








  </body>
</html>