<!DOCTYPE html>
<html>
<body background="backg.jpg">
  <head>
    <title>Hotel California | Rooms</title>
    
        <link rel="stylesheet" type="text/css" href="mystyle.css">  
  </head>
  <body>


<div id = "wrapper">

    <div id = "navi">

       <font face="modern"><h1> <b>Welcome to the Hotel California</b></h1>   
      
     
       
      <a href = "index" STYLE="text-decoration: none">Home</a> |
      <a href = "forms" STYLE="text-decoration: none">Check in</a> |
      <b><a href = "rooms" STYLE="text-decoration: none">Rooms Available</a></b> |
      <a href = "about" STYLE="text-decoration: none">About us</a> 
     
      <br><br>

      <h2> Plenty of room at the Hotel California!</h2> 

      <img src = "1408.jpg"><br><br>
      <b>
      Enjoy the best suite that is absolutely to die for! This could be heaven or this could be hell!<br><br>

      "On the shiver scale, I give the 1408 suite... ten skulls"
      -John Cusack<br><br>

      Features:<br>

      -Full sized queen bed<br>
      -Fully functional airconditioning<br>
      -Spirits since 1969<br>
      -And the all new Express Checkout System!<br>
      -Spacious Masters' chambers for gatherings and various beast-related activities
      </b>
    </div>
     
  </div>  
    


  
  </body>
</html>