<!DOCTYPE html>
<html>
<body background="backg.jpg">
  <head>
    <title>Hotel California | Home</title>  
    <link rel="stylesheet" type="text/css" href="mystyle.css">  

  </head>
  <body>

  <div id = "wrapper">

    <div id = "navi">

      <font face="modern"><h1><b> Welcome to the Hotel California</b></h1>   
      
      

      <b><a href = "index" STYLE="text-decoration: none">Home</a></b> |
      <a href = "forms" STYLE="text-decoration: none">Check in</a> |
      <a href = "rooms" STYLE="text-decoration: none">Rooms Available</a> |
      <a href = "about" STYLE="text-decoration: none">About us</a> 

      
      
      <br>
      <br> 

      <center>

      <h2>Live it up at the Hotel California! Any time of year, you can find it here!</h2><br>



      <img src = "creepy.jpg"></center>



      </font>

    </div>
    
  	     
    

     
  </div>	

    

  	
    

  </body>
</html>